.studentattendancedata {
  margin-top: 20px;
}

.left {
  margin-top: 20px;
}

.right {
  margin-top: 20px;
}

.custome-btn {
  color: white;
  background-color: #2d2d2d;
  margin-top: 18px;
  width: 95px;
  margin-left: 136px;
  margin-bottom: 33px;
}

.custome-btn:hover {
  color: white;
  background-color: #444444;
}

.total-student {}

@media only screen and (max-width: 785px) {
  .left-col {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 330px) {
  .custome-btn {
    margin-left: 0px;
  }
}